@{
    ViewBag.Title = "AccountSettings";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<body>
    <div>
        <br />
    </div>
    <div class="title">
        <h1>Account Settings</h1>
    </div>
    <div class="row">
        <div class="span2">

        </div>
        <div class="span8">
            <a id="" href="" class="submit" style="width:30%"> Add Admin</a>
            <a id="" class="" style="width:30%">View Details</a> 
        </div>
        <div class="span2">

        </div>
    </div>
</body>
