@{
    ViewBag.Title = "Home/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <!-- This section is for Splash Screen -->
    <div class="ole">
        <section id="jSplash">
            <div id="circle"></div>
        </section>
    </div>
    <!-- End of Splash Screen -->
  
    <!-- Homepage Slider -->
    <div class="container">
       
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators" style="padding-right:650px; padding-top:400px">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/images/fashion.jpg" alt="Chania" style="height: 480px ;width: 1320px;padding-left:10px">
                </div>

                <div class="item">
                    <img src="/images/car.jpg" alt="Chania" style="height: 480px ;width: 1320px;padding-left:10px">
                </div>

                <div class="item">
                    <img src="/images/3.jpg" alt="Flower" style="height: 480px ;width: 1320px;padding-left:10px">
                </div>

                <div class="item">
                    <img src="/images/4.jpg" alt="Flower" style="height: 480px ;width: 1320px;padding-left:10px">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

    </div>

    <!-- End Homepage Slider -->


   
    <!-- Twitter Feed -->
    <div id="twitter-feed" class="page-alternate">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="follow">
                        <a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><i class="font-icon-social-twitter"></i></a>
                    </div>

                    <div id="ticker" class="query">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Twitter Feed -->
    <!-- Socialize -->
    <div id="social-area" class="page">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav id="social">
                        <ul>
                            <li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                            <li><a href="http://dribbble.com/Bluxart" title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
                            <li><a href="http://forrst.com/people/Bluxart" title="Follow Me on Forrst" target="_blank"><span class="font-icon-social-forrst"></span></a></li>
                            <li><a href="http://www.behance.net/alessioatzeni" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
                            <li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                            <li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                            <li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                            <li><a href="http://themeforest.net/user/Bluxart" title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
                            <li><a href="http://zerply.com/Bluxart/public" title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Socialize -->
</body>
